.flex{
    display:flex;
}
.items-center{
    align-items: center;

}
.justify-center{
    justify-content: center;

}
.uppercase{
    text-transform: uppercase;
}
.mx-2{
    padding: 0 12px;
}
.space-between{
    justify-content: space-between;
}
